@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
}
header nav,header .header-information {
  max-width: 1365px;
  margin: 0 auto 20px auto;
}
header .header-information {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(70, 69, 69);
}
header .header-information .numbers {
  margin-left: 50px;
}
header .header-information .numbers i {
  margin-left: 30px;
}
header .header-information .numbers a {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #7e93fb;
  cursor: pointer;
  text-decoration: none;
  padding-left: 7px;
}
header .header-information .numbers a:hover {
  text-decoration: underline;
}
header .header-information .numbers span {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #fff;
  padding-left: 10px;
}
header .header-information .contact {
  margin-right: 50px;
}
header .header-information .contact a {
  margin-right: 30px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: #7e93fb;
  text-decoration: none;
}
header nav {
  margin-top: 20px;
}
header nav .navbar-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav .navbar-menu .logo h2 {
  font-size: 43px;
  font-weight: 500;
  color: white;
}
header nav .navbar-menu .navbar-lists ul li {
  display: inline-block;
  padding: 0 25px;
}
header nav .navbar-menu .navbar-lists ul li a {
  text-decoration: none;
  color: #7e93fb;
  font-size: 14px;
  font-weight: 600;
}
header nav .navbar-menu .navbar-lists ul li a:hover {
  text-decoration: underline;
}
header nav .navbar-menu .navbar-lists ul .company {
  position: relative;
}
header nav .navbar-menu .navbar-lists ul .company ul {
  position: absolute;
  left: -30px;
  top: 30px;
  width: 300px;
  height: 140px;
  background-color: black;
  display: none;
}
header nav .navbar-menu .company ul li {
  display: inline-block;
  margin-top: 20px;
}
header nav .navbar-menu .company ul li a {
  color: white;
  font-size: 20px;
  padding: 20px 5px;
  line-height: 40px;
}
header nav .navbar-menu .navbar-lists ul .company:hover ul {
  display: block;
}
header nav .navbar-menu .login a:first-child {
  color: #7e93fb;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  font-weight: 600;
  padding-right: 20px;
}
header nav .navbar-menu .login a:first-child:hover {
  text-decoration: underline;
}
header nav .navbar-menu .login a:last-child {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: #4561ec;
  width: 130px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
}
main .page-button{
    display: block;
    position: fixed;
    bottom: 10px;
    right: -2px;
    width: 210px;
    height: 54px;
    border-radius: 5px;
    border-style: none;
    background-color: #4561EC;
    color: white;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 0px 0px 14px 0px #4561EC;
    letter-spacing: 1px;
    text-align: center;
    transition: 0.3s ease-in-out;
}
main .page-button:hover{
    background-color: #1538e7;
}
main #section-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 730px;
    margin: 0;
}
main #section-1 .rent-info{
    max-width: 1365px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    margin: 0 0 0 70px ;
}
main #section-1 .rent-info h2,
main #section-1 .rent-info h3
{
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
}
main #section-1 .rent-info h2{
    margin-top: 230px;
}
main #section-1 .rent-info p{
    margin-top: 30px;
    font-size: 18px;
    max-width: 480px;
    line-height: 30px;
    font-weight: 500;
}
main #section-1 .rent-info .buttons a{
    text-decoration: none;
    display: inline-block;
    margin-top: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
main #section-1 .rent-info .buttons .button-1{
    width: 190px;
    height: 54px;
    border-style: none;
    background-color: #4561EC;
    color: white;
    line-height: 54px;
}
main #section-1 .rent-info .buttons .button-2{
    background-color: none;
    margin-left: 10px;
    border: 1px solid #7e93fb;
    color: #7e93fb;
    width:160px;
    height: 58px;
    line-height: 56px;
}
main #section-2 {
    display: flex;
    flex-direction: column;
    gap:50px;
    align-items: center;
    color: white;
    margin: 0 auto;
}
main #section-2 .header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width:1200px;
    max-width:1365px;
    margin-top: 100px;
}
main #section-2 .header h2{
    font-size:60px;
    font-weight: 700;
}
main #section-2 .header p{
font-size: 18px;
max-width: 580px;
line-height: 25px;
font-weight: 500;
}
main #section-2  .card-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1365px;
    width: 1200px;
    margin-top: 20px;
}
main #section-2 .card-items .card p{
    display: none;
    transition: .2s ease-in-out;
}
main #section-2 .card-items .card{
    padding: 50px;
    width: 280px;
    height: 280px;
    border-radius: 5px;
    background-color: #4561EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
main #section-2 .card-items .card img{
    width:50%;
    transition:0.3s ease-in-out;
    object-fit: cover;
}
main #section-2 .card-items .card h2{
    font-size: 23px;
    font-weight: 600;
    width: 250px;
    text-align: center;
    line-height: 28px;
    margin-top: 23px;
}
main #section-2 .card-items .card:hover.card img,
main #section-2 .card-items .card:hover.card h2
{
   display: none;
}
main #section-2 .card-items .card:hover.card p
{
    display:block;
    font-size: 18px;
    line-height: 20px;
    width:280px;
    padding: 0 20px;
}
main #section-3 h2{
  color: white;
  font-size: 60px;
  font-weight: 700;
  margin-left: 70px;
  margin-bottom: 30px;
}
main #section-3 {
  max-width: 1340px;
  margin: 50px auto;
}
main #section-3 .card-images{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 1340px;
  justify-content: center;
}
main #section-3 .card-images .image{
  height: 312px;
}
main #section-3 .card-images .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main #section-3 .card-images .image:nth-child(3n){
  width: 30%;
}
main #section-3 .card-images .image:nth-child(3n-2),
main #section-3 .card-images .image:nth-child(3n-1){
  width: 44%;
}
main #section-3 .card-images .image:nth-child(6n-2),
main #section-3 .card-images .image:nth-child(6n-1){
  width: 58%;
}
main #section-3 .card-images .image:nth-child(13),
main #section-3 .card-images .image:nth-child(14){
  width: 28%;
}